<!-- 
<header class="text-center mt-3">
  <div class="card">
    <div id="header_font" class="card-header" style="font-family: 'Roboto Slab', serif;background-color:#28364A">
      <div class="row">
        <h1 style="color:white"></h1> &nbsp;<h1 style="color:#D04A3E">Flight Management</h1>&nbsp;&nbsp;<h1 style="color:#F4D160">System</h1>&nbsp;<h1
          style="color: white"> </h1>
      </div>
      </div>
    </div>
    
    <nav class =" nav row bg-dark p-2">
      <a routerLink="xyz"class="nav-link ml-4 text-red">Home</a>
      
      <a routerLink="add" class="nav-link ml-4 text-red">New Booking</a>
      <a routerLink="viewb" class="nav-link ml-4 text-red">Search Booking</a>
      
      <a routerLink="view" class="nav-link ml-4 text-red"> Booking History</a>
      <a routerLink="viewb" class="nav-link ml-4 text-red"> Cancel Booking </a>
     
      
    </nav>
    
</header>


<hr/> -->
<header>

  <nav class="navbar navbar bg-info">

    <ul class="navbar-nav ">
      <li><h3 style="color: whitesmoke;font-family:verdana;font-style:normal;"><b>Flight Management System</b></h3></li>
    </ul>
    <ul class="navbar nav">
      <li class="nav-item "><a routerLink="/xyz" style="color: aliceblue;">Home</a></li>&nbsp;&nbsp;&nbsp;
      <li class="nav-item "><a routerLink="/add" style="color: aliceblue;">New Booking</a></li>&nbsp;&nbsp;&nbsp;
      <li class="nav-item "><a routerLink="/viewb" style="color: aliceblue;">Search Booking</a></li>&nbsp;&nbsp;&nbsp;
      <li class="nav-item "><a routerLink="/view" style="color: aliceblue;">Booking History</a></li>&nbsp;&nbsp;&nbsp;
      <li class="nav-item "><a routerLink="/viewb" style="color: aliceblue;">Cancel History</a></li>

    </ul>

  </nav><br/><br/>
  </header>
<router-outlet></router-outlet>
